#b1 {
  border: 5px solid black;
  float: left;
  width: 400px;
  height: 550px;
}

#b2 {
  border: 5px solid black;
  float: right;
  width: 400px;
  height: 550px;
}

.button {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  width: 250px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
}

.button2 {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  width: 300px;
  height: 50px;
  float: right;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-right: 50px;
}

.text1 {
  font-size: 50px;
  font-weight: bold;
}

input[type=text] {
  border: 5px solid lightgrey;
  width: 450px;
  height: 30px;
  margin-left: 150px;
}
