#b1 {
  border: 5px solid black;
  float: left;
  width: 400px;
  height: 550px;
}

#b2 {
  border: 5px solid black;
  float: right;
  width: 400px;
  height: 550px;
}

.button {
  background-color: lightgrey;
  border: 1px solid lightgrey;
  width: 250px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
}
