body {
  background-color: lightgrey;
}

td {
  background-color: black;
  height: 150px;
  width: 150px;
}

p {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-shadow: -1.25px -1.25px 0 white, 1.25px -1.25px 0 white, -1.25px 1.25px 0 white, 1.25px 1.25px 0 white;
}

 h6 {
   font-size: 25px;
  font-weight: bolder;
  color: white;
  text-align: center;
}
